<div id="{{ id }}"
     class="modal fade {{ variant is defined ? 'modal-'~variant : '' }}"
     tabindex="-1"
     aria-labelledby="{{ id }}_label"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            {% if loader %}
                <div id="loader">
                    {% include 'common/spinner.html.twig' %}
                </div>
                <div id="form_content" class="d-none"></div>
            {% else %}
                <div id="form_content">
                    {{ content|raw }}
                </div>
            {% endif %}
        </div>
    </div>

</div>