<div id="{{ id }}"
     class="modal fade {{ variant is defined ? 'modal-'~variant : '' }}"
     tabindex="-1"
     aria-labelledby="{{ id }}_label"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            {{ content|raw }}
        </div>
    </div>

</div>