{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <body>

    <main class="d-flex w-100">
        <div class="container d-flex flex-column">
            <div class="row vh-100">
                <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        <div class="text-center mt-4">
                            <h1 class="h3">Project</h1>
                            <img src=""
                                 width="10%" alt="logo" class="mb-3 rounded-5">
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-3">

                                    {% include 'common/flash_messages.html.twig' %}

                                    {% block security_content %}
                                    {% endblock %}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('js/security') }}
    {% endblock %}

    </body>

{% endblock %}

