{% extends 'security/base.html.twig' %}

{% block security_content %}
    <form id="login-form" action="{{ path('app_login') }}" method="post">

        <div class="mb-3">
            <label class="form-label" for="_username">Email</label>
            <input class="form-control"
                   id="_username"
                   type="email"
                   name="_username"
                   placeholder="Email" />
        </div>

        <div>
            <label class="form-label" for="_password">Mot de passe</label>
        </div>
        <div class="input-group mb-3">
            <input class="form-control"
                   id="_password"
                   type="password"
                   name="_password"
                   placeholder="Mot de passe" />
            <span class="input-group-text show-password" data-target="#_password">
                <i class="fa-regular fa-eye"></i>
            </span>
        </div>

        <div>
            <div class="form-check align-items-center">
                <input id="customControlInline"
                       type="checkbox"
                       class="form-check-input"
                       value="remember-me"
                       name="remember-me"
                       checked>
                <label class="form-check-label text-small"
                       for="customControlInline">Se souvenir de moi</label>
            </div>
        </div>

        <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-lg btn-primary">Se connecter</button>
        </div>

        <input type="hidden" name="_target_path" value="{{ path('app_home') }}">

        <div class="text-center mt-3">
            Mot de passe oublié ? <a href="{{ path('app_forgot_password_request') }}">Régénérer mon mot de passe</a>
        </div>

    </form>
{% endblock %}

