{% extends 'base.html.twig' %}

{% block body %}
    <body>

    <main class="d-flex w-100">
        <div class="container d-flex flex-column">
            <div class="row vh-100">
                <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        <div class="text-center mt-4">
                            <h1 class="h3">MeetaTôonz</h1>
                            <img src="{{ asset('build/images/logos/apple-touch-icon.png') }}" width="10%" alt="logo" class="mb-3">
                            <p class="text-secondary">
                                Créez votre compte en quelques clics !
                            </p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-3">

                                    {% include 'common/flash_messages.html.twig' %}

                                    {{ form_start(form) }}
                                    <div class="mb-3">
                                        <label class="form-label">Prénom</label>
                                        {{ form_widget(form.username) }}
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Email <span class="text-danger">*</span></label>
                                        {{ form_widget(form.email) }}
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Mot de passe <span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            {{ form_widget(form.password.first,
                                                {'attr':{'class': 'form-control', 'placeholder': 'Mot de passe'}, 'id': '_password_one'}) }}
                                            <button class="btn btn-outline-secondary mb-0" type="button" id="show_password_first">
                                                <i class="fa-solid fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Répétez le mot de passe</label>
                                        <div class="input-group">
                                            {{ form_widget(form.password.second,
                                                {'attr':{'class': 'form-control', 'placeholder': 'Répétez le mot de passe'}, 'id': '_password_two'}) }}
                                            <button class="btn btn-outline-secondary mb-0" type="button" id="show_password_second">
                                                <i class="fa-solid fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <p class="text-danger text-sm mb-3">
                                        * Champs obligatoires
                                    </p>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-lg btn-primary">
                                            Créer mon compte
                                        </button>
                                    </div>
                                    <p class="text-sm mt-3 mb-0">
                                        Déjà un compte ?
                                        <a href="{{ path('app_login') }}"
                                           class="text-dark font-weight-bolder">
                                            Se connecter
                                        </a>
                                    </p>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                        <div class="text-center mb-3">
                            Déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('build/js/security.js') }}"></script>
    {% endblock %}

    </body>
{% endblock %}
