<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header pb-0">
                <h5 class="card-title mb-0 pb-0"><i class="align-middle" data-feather="mail"></i> Validation de votre adresse mail</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Merci de valider votre adresse mail afin d'accéder aux fonctionnalités de MeetaTôonz.</p>
                <a id="resend_mail_validation" href="{{ path('app_resend_mail_validation') }}" class="card-link">Renvoyer le mail de validation</a>
                <a href="{{ path('app_user_account') }}" class="card-link">Modifier mon adresse mail</a>
            </div>
        </div>

    </div>
</div>