<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header pb-0">
                <h5 class="card-title mb-0 pb-0"><i class="align-middle" data-feather="lock"></i> Régénération du mot de passe</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Merci de régénérer votre mot de passe afin d'accéder aux fonctionnalités de MeetaTôonz.</p>
                <a href="{{ path('app_forgot_password_request') }}" class="card-link">Régénérer mon mot de passe</a>
            </div>
        </div>

    </div>
</div>