<div class="row">
    <div class="col-md-6">
        <div id="zone_uploader" class="dm-uploader">
            <input id="input_uploader" type="file" class="form-control form-control-sm"/>
        </div>
    </div>
    <div class="col-md-6">
        <div id="div_progress" class="progress d-none" role="progressbar" aria-label="Example with label" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div id="progress_bar" class="progress-bar" style="width: 0%">0%</div>
        </div>
    </div>
</div>