<div class="accordion" id="{{ id }}">
    {% for item in items %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse_{{ loop.index }}"
                        aria-expanded="{{ item.show }}"
                        aria-controls="collapse_{{ loop.index }}">
                    {{ item.title }}
                </button>
            </h2>
            <div id="collapse_{{ loop.index }}"
                 class="accordion-collapse collapse {{ item.show ? 'show' : '' }}"
                 data-bs-parent="#{{ id }}">
                <div class="accordion-body">
                     {% include item.template with item.params %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>