<div class="form-check">
    <input class="form-check-input"
           id="{{ id }}"
           name="{{ name }}"
           autocomplete="off"
           type="checkbox"
           {% if checked %}checked{% endif %}
    >
    <label class="form-check-label text-sm"
           for="{{ id }}">
        {{ label }}
    </label>
</div>
