<span class="badge text-bg-{{ variant is defined ? variant : 'primary' }} text-white"
    {% if tooltip is defined %}
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-title="{{ tooltip }}"
    {% endif %}
>
    {% if icon is defined %}
        <i class="{{ icon }}"></i>
        {% if text is defined %}&nbsp;{% endif %}
    {% endif %}
    {% if text is defined %}
        {{ text }}
    {% endif %}
</span>