{% if not prototype %}
    {% if not allowDelete %}
        <input type="text"
               aria-label=""
               name="{{ form_field_name }}"
               class="form-control w-100" />
    {% else %}
        <div class="input-group w-100">
            <input type="text"
                   class="form-control"
                   aria-label=""
                   name="{{ form_field_name }}"
                   value="{{ form_value }}"
                   aria-describedby="button-delete">
            <button class="btn btn-outline-secondary button-delete-{{ form_field }}"
                    type="button"
                    data-input="#{{ stop.vars.id }}"
            >
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    {% endif %}
{% else %}
    {% if not allowDelete %}
        <input id="{{ form_field }}___name__"
               type="text"
               aria-label=""
               placeholder="{{ form_placeholder }}"
               name="{{ form_entity }}[{{ form_field }}][__name__]"
               class="form-control w-100 mb-1" />
    {% else %}
        <div class="input-group mb-1 w-100">
            <input id="{{ form_field }}___name__"
                   type="text"
                   class="form-control"
                   placeholder="{{ form_placeholder }}"
                   aria-label=""
                   name="{{ form_entity }}[{{ form_field }}][__name__]"
                   aria-describedby="button-delete">
            <button class="btn btn-outline-secondary button-delete-{{ form_field }}"
                    type="button">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    {% endif %}
{% endif %}

