{% extends 'security/base.html.twig' %}

{% block security_content %}
    <div class="text-center mb-3">
        Si un compte existe avec cet email, vous recevrez alors un email avec le lien de régénération de mot de passe.
    </div>

    <div class="text-center mb-3">
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </div>

    <div class="text-center mb-3">
        Si vous n'avez pas reçu d'email, vérifiez votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.
    </div>
{% endblock %}


