{% extends 'security/base.html.twig' %}

{% block security_content %}
    <div class="text-center mb-3">
        Entrez votre adresse mail et nous vous enverrons un lien de régénération de mot de passe
    </div>

    {{ form_start(form) }}

    <div class="mb-3">
        <label class="form-label">Email</label>
        {{ form_widget(form.email, {attr: {class: 'form-control'}}) }}
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary m-auto">Envoyer le lien</button>
    </div>

    {{ form_end(form) }}
{% endblock %}


