{% extends 'security/base.html.twig' %}

{% block security_content %}

    {{ form_start(form) }}

    <div>
        <label class="form-label" for="_password">Mot de passe</label>
    </div>
    <div class="input-group mb-3">
        {{ form_widget(form.plainPassword.first,
            {'attr':{'class': 'form-control', 'placeholder': 'Mot de passe'}, 'id': '_password_one'}) }}
        <span class="input-group-text show-password" data-target="#_password_one">
            <i class="fa-regular fa-eye"></i>
        </span>
    </div>

    <div class="input-group mb-3">
        {{ form_widget(form.plainPassword.second,
            {'attr':{'class': 'form-control', 'placeholder': 'Répétez le mot de passe'}, 'id': '_password_two'}) }}
        <span class="input-group-text show-password" data-target="#_password_two">
            <i class="fa-regular fa-eye"></i>
        </span>
    </div>

    <div id="password_security_progress" class="progress mb-3" role="progressbar"
         aria-label=""
         aria-valuenow="100"
         aria-valuemin="0"
         aria-valuemax="100"
         style="height: 2px">
        <div class="progress-bar" style="width: 100%"></div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary m-auto">Régénérer</button>
    </div>

    {{ form_end(form) }}

{% endblock %}


