{% if tableSettings.items|length > 0 %}
    <table id="{{ tableSettings.id is defined ? tableSettings.id : 'table_items' }}"
           class="table table-hover my-0 {% if tableSettings.tableClass is defined %}{{ tableSettings.tableClass }}{% endif %}">
        <thead>
        <tr>
            {% for header in tableSettings.headers %}
                <th class="text-secondary text-sm {{ header.class }}">
                    {{ header.title }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in tableSettings.items %}
            <tr>
                {% for data in item %}
                    <td class="text-sm {{ data.class }}">
                        {% if data.template %}
                            {% include data.content with data.params %}
                        {% else %}
                            {{ data.content }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-center text-secondary p-3">{{ tableSettings.noItemsMessage }}</p>
{% endif %}