<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">

        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
               aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0"
               href="">
                <img src="{{ asset('build/images/logo/apple-touch-icon.png') }}"
                     class="navbar-brand-img h-100 rounded-5" alt="main_logo">
                <span class="ms-1 font-weight-bold">
                    {{ title }}
                </span>
            </a>
        </div>

        <ul class="sidebar-nav">

            {% for link in links %}
                {% if not link.divider %}
                    {% if link.isGranted %}
                        <li id="item_{{ link.data }}" class="sidebar-item {{ link.active ? 'active' : '' }}">
                            <a class="sidebar-link" href="{{ link.url }}">
                                <i class="align-middle" data-feather="{{ link.icon }}"></i>
                                <span class="align-middle">{{ link.title }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="sidebar-divider"><hr></li>
                {% endif %}
            {% endfor %}

        </ul>

        {% if footer %}
            <div class="sidebar-cta">
                <div class="sidebar-cta-content">
                    <div class="d-grid">
                        <a href="{{ footer.url }}" class="btn btn-primary">{{ footer.title }}</a>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</nav>