{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <input type="hidden" value="{{ path('app_media_upload') }}" id="url_uploader">
    {% include 'design_components/uploader/uploader.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/medias.js') }}"></script>
{% endblock %}