{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{  parent() }}
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
{% endblock %}

{% block content %}

    <div>
        <video
                id="my-video"
                class="video-js"
                controls
                preload="auto"
                width="640"
                height="264"
                poster="MY_VIDEO_POSTER.jpg"
                data-setup="{}"
        >
            <source src="{{ path }}" type="{{ type }}" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
                >
            </p>
        </video>
    </div>

{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
{% endblock %}