{% for message in app.flashes('error') %}
    <div class="alert alert-danger w-100 text-xs mb-3">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success w-100 text-xs mb-3">
        {{ message }}
    </div>
{% endfor %}