<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href=""/>
    <title>
        Private Family
    </title>
    {% block stylesheets %}
        {% include 'common/stylesheets.html.twig' %}
    {% endblock %}
</head>

<body>

{% block content %}
{% endblock %}

{% block javascripts %}
    {% include 'common/javascripts.html.twig' %}
{% endblock %}

</body>

</html>