{% extends 'mailing/base.html.twig' %}

{% block content %}
    <span class="preheader">Validation de votre adresse mail</span>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main">

        <tr>
            <td class="wrapper">
                <p>Bonjour,</p>
                <p>Vous venez de vous inscrire sur <a href="">Site</a>. Merci !</p>
                <p>Veuillez valider votre adresse mail pour avoir accés à toutes les fonctionnalités.</p>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                    <tbody>
                    <tr>
                        <td align="center">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="{{ signedUrl }}" target="_blank">Valider mon email</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p>Si le bouton ne fonctionne pas, pas de panique, copiez-collez le lien ci-dessous:</p>
                <p>{{ signedUrl }}</p>
            </td>
        </tr>

        <!-- END MAIN CONTENT AREA -->
    </table>

{% endblock %}