{% extends 'mailing/base.html.twig' %}

{% block content %}
    <span class="preheader">Demande de régénération de mot de passe</span>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main">

        <tr>
            <td class="wrapper">
                <p>Bonjour,</p>
                <p>Vous avez fais une demande de régénération de mot de passe.</p>
                <p>Cliquez sur le lien ci-dessous.</p>
                <p>Attention, ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                    <tbody>
                    <tr>
                        <td align="center">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}"
                                           target="_blank">Régénérer mon mot de passe</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p>Si le bouton ne fonctionne pas, pas de panique, copiez-collez le lien ci-dessous:</p>
                <p>{{ url('app_reset_password', {token: resetToken.token}) }}</p>
            </td>
        </tr>

        <!-- END MAIN CONTENT AREA -->
    </table>

{% endblock %}