<a {% if id is defined %}id="{{ id }}"{% endif %}
   class="btn btn-{{ variant is defined ? variant : 'primary' }} {{ class is defined ? class : '' }} mb-1 me-1"
   href="{{ url }}"
        {% if tooltip is defined %}
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-title="{{ tooltip }}"
        {% endif %}
        {% if modal is defined %}
            data-bs-toggle="modal"
            data-bs-target="#{{ modal }}"
        {% endif %}
        {% if target is defined %}
            target="{{ target }}"
        {% endif %}
>
    {% if icon is defined %}
        <i class="{{ icon }}"></i>
        {% if title is defined %}&nbsp;{% endif %}
    {% endif %}
    {% if title is defined %}
        {{ title }}
    {% endif %}
</a>