<a {% if id is defined %}id="{{ id }}"{% endif %}
   class="btn btn-primary {{ class is defined ? class : '' }}"
   href="{{ url }}"
        {% if tooltip is defined %}
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-title="{{ tooltip }}"
        {% endif %}
        {% if modal is defined %}
            data-bs-toggle="modal"
            data-bs-target="#{{ modal }}"
        {% endif %}
        {% if target is defined %}
            target="{{ target }}"
        {% endif %}
>
    <i class="fa-solid fa-plus"></i>
    {% if title is defined %}&nbsp;{% endif %}
    {% if title is defined %}
        {{ title }}
    {% endif %}
</a>